@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-50 dark:bg-zinc-950 text-gray-900 dark:text-gray-100 transition-colors;
}
